<div class="container">
	<h2>Product Detail</h2>
	<div class="row">
		<div class="col-sm-2">
			<label for="name">Name:</label>
		</div>
		<div class="col-sm-4"><label>{{productDetail.name}}</label></div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label for="model">Model:</label>
		</div>
		<div class="col-sm-4"><label>{{productDetail.model}}</label></div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label for="year">Year:</label>
		</div>
		<div class="col-sm-4"><label>{{productDetail.year}}</label></div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label for="price">Price:</label>
		</div>
		<div class="col-sm-4"><label>{{productDetail.price}}</label></div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label for="producer">Producer:</label>
		</div>
		<div class="col-sm-4"><label>{{productDetail.producer}}</label></div>
	</div>
	<div class="row">
		<div class="col-sm-2">
			<label for="available">Available:</label>
		</div>
		<div class="col-sm-4"><label>{{productDetail.available}}</label></div>
	</div>
	<div class="row">
		<div class="col-sm-2"></div>
		<div class="col-sm-4">
			<a href="#/mainstore" role="button" class="btn btn-primary">Back
				to Main Store</a>
		</div>
	</div>
</div>