<div ng-transclude></div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Model</th>
            <th>Year</th>
            <th>Price</th>
            <th>Producer</th>
            <th>Available</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="product in products">
           	<td ><a ng-href="#/productdetail/{{product.id}}">{{product.model}}</a></td>
            <td>{{product.year}}</td>
            <td>{{product.price | currency}}</td>
            <td>{{product.producer}}</td>
            <td><i class="glyphicon glyphicon-plus btn btn-sm btn-success" ng-click="increaseAvailable(product.id)"></i>
                <div class="product-available">{{product.available | number}}</div>
	<i <td><i class="glyphicon glyphicon-minus btn btn-sm btn-warning" ng-click="decreaseAvailable(product.id)"></i></td>
            <td><i class="glyphicon glyphicon-trash btn btn-danger" ng-click="removeProduct(product.id)"></i></td>
        </tr>
    </tbody>
</table>